@import url("https://use.typekit.net/cat5hoe.css");
.nav {
  color: #F9CDAC;
  font-size: 2rem;
  font-family: demos-next, sans-serif;
  font-weight: 700;
}

ul {
  font-size: 1.875rem;
}

@media only screen and (max-width: 62.5rem) {
  ul {
    font-size: 20px;
  }
}
li:hover {
  font-style: italic;
  letter-spacing: 0.3125rem;
}

li a {
  text-decoration: none;
  color: #F9CDAC;
}

.hero h1 {
  font-size: 5.625rem;
  font-family: ohno-blazeface, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 3vh;
  color: #FDC900;
  text-shadow: 2px 2px 4px #E35A2E;
}

@media only screen and (max-width: 62.5rem) {
  .hero h1 {
    font-size: 60px;
  }
}
.hero p {
  font-size: 2.25rem;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: demos-next, sans-serif;
  color: #F9CDAC;
}

.btn {
  background-color: #E35A2E;
  border-radius: 8px;
  border-style: none;
  box-shadow: 2px 2px 4px #85361c;
  cursor: pointer;
  text-transform: uppercase;
  font-family: demos-next, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 2.5rem;
  width: 10.5rem;
  line-height: 1.25rem;
  letter-spacing: 0.1875rem;
  margin: 0;
  outline: none;
  padding: 0.625rem 1rem;
  text-align: center;
}

.btn a {
  text-decoration: none;
  color: #F9CDAC;
}

.languages a {
  font-family: demos-next, sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #F9CDAC;
  margin-left: 2vw;
}

.about-me h1 {
  font-family: ohno-blazeface, sans-serif;
  font-size: 3.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  color: #FDC900;
  background-color: #E35A2E;
  border-radius: 10rem;
}

@media only screen and (max-width: 62.5rem) {
  .about-me h1 {
    font-size: 1.875rem;
  }
}
.about-me p {
  margin-top: -1.5vh;
  font-family: demos-next, sans-serif;
  font-size: 1rem;
  color: #E35A2E;
  background-color: #FDC900;
  border-radius: 1.25rem;
  padding: 30px;
}

@media only screen and (max-width: 62.5rem) {
  .about-me p {
    font-size: 0.875rem;
  }
}
.portfolio h2 {
  margin-top: 0;
  font-family: ohno-blazeface, sans-serif;
  font-size: 3.125rem;
  background-color: #FD91B2;
  width: 31.25rem;
  border-radius: 10rem;
  color: #FDC900;
}

.card p {
  font-size: 0.9375rem;
  font-family: demos-next, sans-serif;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card h3 {
  font-size: 1.5625rem;
  font-family: demos-next-condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #E35A2E;
}

.card .project-link {
  margin-top: 10vh;
}

.project-link a {
  text-decoration: none;
  font-family: demos-next-condensed, sans-serif;
  color: #E35A2E;
  text-transform: uppercase;
  font-weight: 700;
}

.project-link a:hover {
  cursor: pointer;
  font-style: italic;
}

.card p span {
  font-style: italic;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0px;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

section {
  background-color: #F9CDAC;
}

.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-color: #FB8037;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 62.5rem) {
  .hero {
    max-width: 62.5rem;
  }
  .about {
    max-height: 80vh;
  }
  .about-me {
    margin-top: 0vh;
    max-width: 12.5rem;
  }
  #profile-pic {
    margin-top: 20vh;
    width: 12.5rem;
  }
}
.about {
  height: 80vh;
  position: relative;
}

.about-me {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 31.25rem;
}

.hero-text {
  max-width: 50rem;
  margin-left: 10vw;
  margin-top: 20vh;
}

.profile-pic {
  display: flex;
  justify-content: center;
  margin-top: -40vh;
}

#profile-pic {
  max-width: 15.625rem;
}

.blob {
  max-width: 32.5rem;
  margin-left: 60vw;
  margin-top: -25vh;
}

.profile-pic img {
  max-width: 20rem;
}

footer {
  height: 10vh;
  background-color: #FD91B2;
}

ul {
  display: flex;
  list-style-type: none;
}

ul.show {
  display: block;
}

li {
  width: 10vw;
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

@media only screen and (max-width: 62.5rem) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
  }
  .card {
    margin-bottom: 3.125rem;
  }
  .blob {
    display: none;
  }
  .menu {
    display: none;
  }
}
.card {
  max-width: 18.75rem;
  height: 25rem;
  border-radius: 40px;
  text-align: center;
  margin-top: -5vh;
  border: dotted 4px rgba(227, 91, 46, 0.5490196078);
}

#card1,
#card3 {
  background-color: rgba(253, 145, 177, 0.5568627451);
}

#card2,
#card4 {
  background-color: rgba(253, 202, 0, 0.342);
}

.portfolio {
  min-height: 100vh;
}

.portfolio h2 {
  margin-top: 0;
}

.container-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-image {
  margin-top: 25px;
  max-width: 250px;
  border-radius: 125px;
}

.wave {
  margin-bottom: -2vh;
}

.icon {
  max-width: 1.875rem;
  opacity: 0.75;
  margin: 0.625rem;
}

.footer-icons {
  width: 12.5rem;
}

#contact-me {
  display: flex;
  justify-content: center;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 62.5rem) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    margin-top: 2vh;
    margin-right: 1vh;
    font-size: 1.25rem;
    color: #F9CDAC;
  }
}/*# sourceMappingURL=style.css.map */